{% extends 'base.html' %}
{% block body %}
<div class="container"style="text-align:center">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 17rem;height:45rem;">

                <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.desc}}</p>
                    <a href="{% url 'movieapp:detail' i.id %}"  class="btn btn-primary">detail</a>
                </div><br>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--    {% for i in movie_list %}-->
<!--    &lt;!&ndash;    <a href="movie/{{i.id}}">{{i.name}}<br>&ndash;&gt;-->
<!--    <img src="{{i.img.url}}"><br>-->
<!--    <a href="{% url 'movieapp:detail' i.id %}"> {{i.name}}<br>-->
    {% endfor %}
{% endblock %}


        <!--<h2> {{movie_list}}</h2>-->

<!--{% for i in movie_list %}-->
<!--<h4>{{i.id}}.{{i.name}}-&#45;&#45;: {{i.desc}}-&#45;&#45;: {{i.year}}</h4>-->
<!--{% endfor %}-->
